{% extends "base/base.html" %}

{% block html_title %}404{% endblock %}
{% block html_keywords %}{% endblock %}
{% block html_description %}{% endblock %}

{% block content %}
<article id="http404" class="container">
    <div class="row">
        <section class="col-md-12">
            <h2><span>404</span> Вы ошиблись адресом</h2>
            <p>Страница не найдена...</p>
            <p><a href="/">Перейти на главную страницу.</a></p>
        </section>
    </div>
</article>
{% endblock content %}