# Files
*.pyc
*.sql
*.7z
*.rar
*.zip
*.tar
*.tar.gz

# Sublime
*.sublime-project
*.sublime-workspace

# Server
uwsgi_params
reload_uwsgi
*_uwsgi.ini
*_nginx.conf
error_nginx.log

# Django
manage.py
*/wsgi.py
*/_settings/secret.py

# South
*/migrations

# Static
*/internal
*/media
*/static/css/
*/static/less/secret.less
*/static/admin
*/static/django_extensions
*/static/.webassets-cache
*/static/grappelli

# Xapian
search/xapian_index
