# Files
*.pyc
*.sql
*.7z
*.rar
*.zip
*.tar
*.tar.gz

# Server
reload_uwsgi

# Django
manage.py
*/wsgi.py
*/settings/secret.py

# South
*/migrations

# Glue
*/static_src/less/sprites/

# Xapian
search/xapian_index
